.assortment-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.assortment-title {
  font-family: 'Comfortaa', sans-serif;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
}

.assortment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
  gap: 40px;
}

.assortment-item {
  display: flex;
  flex-direction: column;
  width: 288px;
  flex: 1 1 auto;
}

.assortment-item-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px 0;
}

.assortment-item-img {
  border-radius: 32px;
  width: 100%;
}

.assortment-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.assortment-item-text {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 8px;
}

.assortment-item-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.assortment-item-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 8px 20px;
  width: 288px;
  height: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.assortment-item-btn:hover,
.assortment-item-btn:focus {
  border: 1px solid #113916;
  color: #113916;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .assortment-container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .assortment-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .assortment-item {
    width: calc((100% - 24px) / 2);
  }

  .assortment-item-btn {
    width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-title {
    font-weight: 700;
    font-size: 48px;
  }

  .assortment-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .assortment-item {
    width: calc((100% - 72px) / 4);
  }

  .assortment-item-description {
    justify-content: center;
  }

  .assortment-item-btn {
    width: 310px;
  }
}
